<form action="api/v1/users/login", method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email", placeholder="Enter Email">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password", name="password" placeholder="Enter password">
    <br>

    <button type="submit">Sign Up</button>
</form>